
.container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.808);
    border-radius: 10px;
    border: 1px #333 solid;
    padding: 0rem 2.5rem;
    /* width: 30%;
    height: 70vh; */
    margin: 1rem 2rem;
    overflow-y: auto;
    padding-bottom: 3rem;
  }
  
  h2 {
    font-size: 1.4rem;
    border-bottom: 3px solid #444;
  }
  h3,
  h2 {
    font-family: "Averia Serif Libre", cursive;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 0.1rem;
    font-size: 2rem;
  }
  .servings {
    position: relative;
    text-align: right;
    font-family: "Montserrat";
    color: #555;
    font-size: 0.8em;
    margin-top: 1%;
    text-align: right;
  }

  /* that muted green underline under main headers */

  .borderbox {
    border-bottom: 10px solid #55695659;
    padding-top: 0rem;
  
    margin: -30px 0px 0px 0px;
    position: relative;
    width: auto;
  }

/* food descriptions */

  .description {
    padding: 0rem 0.5rem;
    margin-top: -10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    flex-grow: 3;
  }


  p {
  }
  
  /* ingredients listing */
  .ingredients {
    font-size: 1rem;
    position: relative;
    font-family: "Montserrat", sans-serif;
    max-width: 80%;
    flex-grow: 200;
  }

  /* button for seeing step by step instructions */
  
  .steps-btn {
    font-family: "Montserrat", sans-serif;
    background: rgb(57, 82, 76);
    color: #fff;
    border-radius: 30px;
    border: 1px solid #333;
    max-width: 40rem;
    max-height: 3rem;
    font-size: 1rem;
    padding: 1.4%;
    float: right;
    margin: 0rem 0rem;
    position: relative;
    bottom: 0px;
    cursor: pointer;
    transition: ease-in 0.4s;
  }
  
  .steps-btn:hover {
    background: #893410;
    /* background-image: url('https://t4.ftcdn.net/jpg/02/87/02/71/240_F_287027124_R2xwyI2l2ncGKFqy6JF3Izaue1xEWfMn.jpg'); */
    transition: ease-out 0.3s;
  }
  

  /* instructions properties textwise */
  .instructions {
    font-size: 0.9rem;
    padding-right: 1.3rem;
    line-height: 2rem;
    font-family: "Lexend", sans-serif;
  }
  
  .instructions ol li:nth-child(odd) {
    color: rgb(170, 84, 84);
  }

  /* scrollbar properties */
  ::-webkit-scrollbar {
    width: 10px;
    scroll-padding-right: 3rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(224, 222, 207);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #304b39e7;
    border-radius: 5px;
    scroll-padding-right: auto;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6fbb82;
  }
  


  /* controls label + input pair */

  
.form-input-group {
  text-align: center;
  margin-bottom: 1rem;
  align-items: center;
  position: relative;
  justify-content: center;
}

.form-input-group{
  display:flex;
  justify-content: center;
}

/* Login/Register button */

.login-btn{
  margin-top: 30px;
  font-size: 1rem;
  background-color: #378541d7;
  color: #fff;
font-family: 'Lexend', sans-serif;
  padding: .4rem 1rem;
  border-radius: 33px;
}
.login-link{
  display: flex;
  justify-content:center;
  color: #333;
  font-family: "Montserrat";
}
.login-link a:hover{
  color: rgb(89, 148, 0);
}


/* label for input */
label {
  font-family: "Montserrat";
}

/* input properties (color etc) */
  
input{
  border-radius: 2px;
  font-size: 1rem;
  background-color: #d9e9fa;
  border-bottom: 1px solid #333;
  border: none;
  font-family: 'DM Sans', sans-serif;
  margin-left: 5px;
  padding: 5px;
  }

  /* standard button properties */

  button{
    margin-top: 30px;
     font-size: 1rem;
     background-color: rgba(55, 133, 65, 0.842);
     color: #fff;
     font-family: 'Lexend', sans-serif;
     padding: .4rem 1rem;
     border-radius: 33px;
   }
   
   button:hover{
     background-color: #56907ece;
     border-color: rgba(86, 144, 126, 0.808);
   }


   /* alerts */


#alert{
  color:red;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  padding-bottom: .5rem;
}
